.subject {
  color: #ffffff;
  border: 2px dashed #f1f1f1;
  border-radius: 20px;
  padding: 40px;
}



/**************************************************************************************************/
.auto-style1 {
  color: #ff0000;
}
.auto-style2 {
  font-size: medium;
  color: #ffffff;
}
.auto-style3 {
  font-size: 10pt;
  color: #3b3939;
}

.auto-style4 {
  font-family: 微軟正黑體;
}
/**************************************************************************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, Arial;
  padding: 20px;
  background: #f1f1f1;
  background-color: rgb(144, 186, 200);

  /* 設定背景圖片路徑 */
  background-image: url('background.jpg');
  /* background-image: url("https://cdn.pixabay.com/photo/2017/03/27/12/50/flower-2178507_1280.jpg"); */

  /* 背景圖片填滿整個視窗 */
  background-size: cover;

  /* 固定背景，會隨滾動條移動 */
  background-attachment: fixed;

  /* 置中顯示圖片 */
  background-position: center;

  /* 防止圖片重複 */
  background-repeat: no-repeat;

  /* 設定文字顏色，避免被背景蓋掉 */
  color: black;
}

/* Header/Blog Title */
.header {
  font-family: 'Lucida Handwriting', cursive;
  padding: 50px;
  font-size: 40px;
  text-align: center;
  background: rgba(24, 24, 24, 0.7);
  /* border-radius: 20px; */
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: rgba(198, 241, 225, 0.5);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ffffff;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
